.heading{
  font-family: 'PT Serif', serif;
  margin: 10px 50px;
  width: 50%;
}
h1 span{
  color: #8D3DAF;
  font-size: xx-large;
}
.balance{
  margin-top: 50px;
  margin-left: 170px;
  width: 50%;
}
.value{
  font-size: xx-large;
}
.main-accountSummmary{
  display: flex;
  margin-left: 170px;
  justify-content: space-around;
  background-color: #CAD5E2;
  width: 300px;
  height: 100px;
}
/* .plus{
 
 padding: 10px;
}
.minus{
  padding-left: 20px  ;
} */
.history{
  margin-top: -235px;
  margin-left: 650px;
}
.history hr{ 
   width: 47%;
   margin-left: 0px;
}
.transaction-list{
  margin: 0;
  padding: 0;
}
.transaction-list > li{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 45%;
  box-shadow: 0 0 6px gray;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.newTranscaction{
  margin-top: 80px;

}
.newTranscaction p{
  margin-left: 170px;
  font-weight: bolder;
  font-size: large;
}
.inputdetail{
  margin-left: 50px;
  box-shadow: 0 0 10px gray;
  width: 30%;
  height: auto;
  padding: 20px 10px !important;
  margin-left: 170px;
}
.inputdetail input{
   width: 95%;
   padding: 7px 10px;
   margin: 5px 0px;
}
.button{
  width: 100% !important;
  /* margin-left: 12px !important;   */
  margin-top: -2px !important;
  background-color: #8D3DAF;
  color:  white;
  font-size: large;
  cursor: pointer;
}